@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    --tw-ring-shadow: 0 0 #000 !important;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container input {
    width: 100%;
    padding: 10px 40px 10px 10px; 
    border: 1px solid #ccc;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
    margin-left: 7px;
    z-index: 1;
}

.input-container .icon {
    position: absolute;
    right: 20px; /* Adjust as needed */
    display: flex;
    align-items: center;
    pointer-events: none; /* Prevent the icon from interfering with input */
    z-index: 2;
}

.menu-left {
    position: absolute;
    left: 1px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    height: 46px;
    width: 60px;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: 0;
    cursor: pointer;
    background-color: #f0f0f0;
}

.main-content {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.line {
    width: 60px;
    height: 2px;
    background-color: #ccc;
    margin: 12px 0;
}

.loading{
    position: relative;
    background-color: #b8b8b8 !important;
	overflow: hidden;
	border-radius: 10px;
}

.loading::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(0%);
    background: linear-gradient(to right,rgba(255, 255, 255, 0.5),transparent);
    animation: loadingauto 1s infinite;
}

@keyframes loadingauto{
    100%{
        transform: translateX(100%);
    }
}